@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@layer base {
	h1 {
		@apply text-3xl lg:text-5xl;
	}
	h2 {
		@apply text-2xl lg:text-4xl;
	}
	h3 {
		@apply text-xl lg:text-3xl;
	}
	h4 {
		@apply text-lg lg:text-2xl;
	}
	h5 {
		@apply text-base lg:text-xl;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1a1a1a;
		--foreground: #ededed;
		--primary: #1e0447;
		--secondary: #35087e;
		--button-border: #5710c9;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	/* background-image: url('./public/media-tracker-bg-gradient.png');
	background-size: cover;
	background-attachment: fixed; */
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.bg {
	background: #1c1b1b;
}
.card {
	background: var(--primary);
	border-radius: 0.75rem;
	border-top-width: 2px;
	display: flex;
	border-color: var(--secondary);
}

.nav-menu-border {
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-color: #410b99;
}

.button-border-colour {
	border-color: #410b99;
}

.modal {
	background: var(--primary);
	border-radius: 0.75rem;
	border-top-width: 2px;
	--tw-border-opacity: 1;
	border-color: rgb(53 8 126 / var(--tw-border-opacity));
}

.modal-background {
	background-color: rgba(10, 10, 10, 0.5);
}

.home-latest {
	width: 1000px;
}

.drop-down {
	background: var(--secondary);
	align-items: center;
	text-align: center;
	min-width: 96px;
	height: 48px;
	border-radius: 24px;
	border-width: 2px;
	padding: 8px;
	border-color: var(--button-border);
}

.drop-down select {
	display: none;
}

.button {
	background: var(--secondary);
	align-items: center;
	width: fit-content;
	height: 48px;
	border-radius: 24px;
	border-width: 2px;
	padding: 8px;
	border-color: var(--button-border);
}

.button:hover {
	background: var(--button-border);
}

.button-danger {
	background: #7e0808;
	align-items: center;
	min-width: 96px;
	height: 48px;
	border-radius: 24px;
	border-width: 2px;
	padding: 8px;
	border-color: #ae0b0b;
}

.button-danger:hover {
	background: #ae0b0b;
}

.toggle-button-divider {
	width: 2px;
	background: var(--button-border);
}

.toggle-button-container {
	border-radius: 24px;
	border-width: 2px;
	border-color: var(--button-border);
}

.toggle-button {
	background: var(--secondary);
	min-width: 96px;
	height: 48px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
}

.toggle-button:hover {
	background: var(--button-border);
}

.primary-bg {
	background: var(--primary);
}

.secondary-bg {
	background: var(--secondary);
}

.nav-bg {
	background: #3d3b3b;
}

input {
	border-radius: 0.125rem /* 2px */;
}

.loader {
	border: 16px solid #3d3b3b;
	border-top: 16px solid #4c1d95;
	border-radius: 50%;
	width: 96px;
	height: 96px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
