@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@layer base {
	h1 {
		@apply text-3xl lg:text-5xl;
	}
	h2 {
		@apply text-2xl lg:text-4xl;
	}
	h3 {
		@apply text-xl lg:text-3xl;
	}
	h4 {
		@apply text-lg lg:text-2xl;
	}
	h5 {
		@apply text-base lg:text-xl;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1c1b1b;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	background-image: url('./public/media-tracker-bg.png');
	background-size: cover;
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.bg {
	background: #1c1b1b;
}
.card {
	background: #3d3b3b;
	border-radius: 0.75rem;
	border-top-width: 2px;
	display: flex;
	--tw-border-opacity: 1;
	border-color: rgb(107 114 128 / var(--tw-border-opacity));
}

.modal {
	background: #3d3b3b;
	border-radius: 0.75rem;
	border-top-width: 2px;
}

.modal-background {
	background-color: rgba(10, 10, 10, 0.5);
}

.home-latest {
	width: 1000px;
}

.button {
	background: #1e0447;
	min-width: 96px;
	height: 48px;
	border-radius: 24px;
	padding: 8px;
}

.button:hover {
	background: #4c1d95;
}

.toggle-button {
	background: #1e0447;
	min-width: 96px;
	height: 48px;
	padding: 8px;
}

.toggle-button:hover {
	background: #4c1d95;
}

.primary-bg {
	background: #1e0447;
}

.nav-bg {
	background: #3d3b3b;
}

.loader {
	border: 16px solid #3d3b3b;
	border-top: 16px solid #4c1d95;
	border-radius: 50%;
	width: 96px;
	height: 96px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
