@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1c1b1b;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.card {
	background: #3d3b3b;
	border-radius: 0.75rem;
	border-top-width: 2px;
	display: flex;
	flex-direction: row;
	width: 30rem;
	height: fit-content;
	font-size: 1.5rem;
	line-height: 2rem;
	min-height: 15rem;
}
